header {
    text-align: center;
    font-size: 3.5rem;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    padding: 2rem;
}

.container{
    width: 50%;
}