<header class="fira-sans-bold">
    Contact Us
</header>

<section class="container">
    <form>
        <div class="form-group">
          <label for="Name fira-sans">Name</label>
          <input class="form-control" id="Name">
        </div>
        <div class="form-group">
            <label for="Email fira-sans">Email address</label>
            <input type="email" class="form-control" id="Email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="Message fira-sans">Queries/Message</label>
            <textarea class="form-control" id="Message" rows="3"></textarea>
        </div>
    </form>
</section>