header {
    text-align: center;
    font-size: 3.5rem;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    padding: 2rem;
}

.container{
    width: 20%;
}

@media (max-width: 800px) {
    header {
        font-size: 2.5rem;
        padding: 1rem;
    }
}