<div class="footer-section-container">
    <div class="footer-menu container">
        <div class="footer-menu-list fira-sans-bold ">
            <p>Home</p>
            <p>Events</p>
        </div>
        <div class="footer-menu-list fira-sans-bold">
            <p>Gallery</p>
            <p>About Us</p>
        </div>
        <div class="footer-menu-list fira-sans-bold">
            <p>Contact Us</p>
            <p>Join Us</p>
        </div>
        <div class="footer-menu-list fira-sans-bold">
            <p>Email</p>
            <p>Phone</p>
        </div>
    </div>
    <div class="footer-logos container">
        <img class="nds-logo" src="assets/Images/NDS Logo.png">
        <img class="ned-logo" src="assets/Images/NEDUET_logo.svg.png">
    </div>
</div>