.footer-section-container{
    height: 200px;
    background-color: var(--color-secondary);
    margin-top: 20px;
    .footer-menu{
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        .footer-menu-list{
            font-size: 20px;
            color: var(--color-tertiary);
        }
    }
    .footer-logos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nds-logo{
            height: 80px;
        }
        .ned-logo{
            height: 80px;
        }
    }
}

@media (max-width: 800px) {
    .footer-section-container > .footer-menu > .footer-menu-list {
        font-size: 18px;
    }
}