.navigation-box{
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    .nds-logo{
        height: 80%;
        margin-left: 20px;
    }
    .nav-menu{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .nav-items{
            cursor: pointer;
            p{
                font-size: 20px;
                a{
                    text-decoration: none;
                    color: var(--color-tertiary);
                }
                .active{
                    color: var(--color-accent);
                }
            }
        }
    }
}

