<nav class="navigation-box p-2">
    <input type="checkbox" id="nav-check">
    <img class="nds-logo" src="/assets/Images/NDS Logo.png"/>
    <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
    <div class="nav-menu">
        <div class="nav-items" *ngFor="let item of navitems">
            <p class="fira-sans-medium"><a 
                routerLink="/{{ item.route }}"
                routerLinkActive="active"
                >{{item.name}}</a></p>
        </div>
    </div>
</nav>