.fira-sans{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.fira-sans-medium{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.fira-sans-light{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.fira-sans-bold{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}
