@import "/src/app/pages/aboutus/aboutus.page.scss";
@import "/src/app/pages/events/events.page.scss";

.header{
    display: flex;
    height: 80px;
    background-color: var(--color-primary);
    justify-content: center;
    margin-bottom: 40px;
    .header-title{
        border-radius: 20px;
        background-color: var(--color-accent);
        height: 80px;
        width: 50%;
        transform: translateY(40%);
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: #fff;
            font-size: 30px;
            transform: translateY(25%);
        }
    }
}

@media (max-width: 800px){
    .header > .header-title{
        width: 60%;
        p {
            font-size: 22px;
        }
    } 
}

.margin-top-28{
    margin-top: 28px;
}