<hero-section></hero-section>
<scrolling-text></scrolling-text>
<div class="header">
    <div class="header-title"><p class="fira-sans-bold">News and Events</p></div>
</div>
<div class="header">
    <div class="header-title"><p class="fira-sans-bold">Gallery and Achievments</p></div>
</div>
<div class="header">
    <div class="header-title"><p class="fira-sans-bold">About Us</p></div>
</div>
<div class="header">
    <div class="header-title"><p class="fira-sans-bold">Join Us</p></div>
</div>
<join-us></join-us>
<div class="header">
    <div class="header-title"><p class="fira-sans-bold">Contact Us</p></div>
</div>