/* You can add global styles to this file, and also import other style files */
body{
    background-color: var(--color-background);
    overflow-x: hidden;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  *{
    scrollbar-width: auto;
    scrollbar-color: #22668d #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #22668d;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }

.nds-btn{
    //font
    font-size: 18px;
    color: var(--color-background);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    
    //button
    height: 2.5em;
    width: 10em;
    border: none;
    background-color: var(--color-accent);
    border-radius: 16px;
    box-shadow: 0px 3px rgba(#000000, 0.50);
    
}

.nds-btn:hover{
    opacity: 0.9;
}

.nds-btn:active{
    box-shadow: 0px 4px rgba(#000000, 0.50);
}

@media (max-width:800px){
    .nds-btn{
        //font
        font-size: 16px;
        
        //button
        height: 2em;
        width: 8em;
        border: none;
        background-color: var(--color-accent);
        border-radius: 16px;
        box-shadow: 0px 3px rgba(#000000, 0.50);
    }    
}