<header class="fira-sans-bold">
    About Us
</header>

<section>
    <p class="fira-sans-medium">
        The NED Debate Society at NED University is a dynamic organization focused on English and Urdu debates,
        parliamentary-style debates, Model United Nations (MUN) participation, declamation, and speeches. It provides a
        platform for students to enhance their speaking and critical thinking skills, engage in constructive dialogue,
        and participate in various forms of public speaking.
    </p>
</section>