/* Default styles for larger screens */
header {
    text-align: center;
    font-size: 3.5rem;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    padding: 2rem;
}

.para-section>p {
    color: var(--color-tertiary);
    font-size: 32px;
    padding: 6rem 10rem;
    text-align: justify;
}

.people-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 3rem;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
}

.people-container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 14px;
    padding: 2rem 4rem;
}

.role {
    font-size: 2.5rem;
    color: var(--color-tertiary);
}

.name {
    font-size: 2.5rem;
}

.icon-container {
    font-size: 7.5rem;
}

@media (max-width: 800px) {
    header {
        font-size: 2.5rem;
        padding: 1rem;
    }

    .people-section {
        padding: 0 1rem;
    }

    .cards-container {
        gap: 1rem;
    }
    .person-card {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    .role,
    .name {
        font-size: 1.5rem;
    }
    
    .icon-container {
        font-size: 5rem;
    }
    
    .para-section>p {
        font-size: 20px;
        padding: 4rem;
    }
    
}
